<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доступные рейсы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Доступные рейсы</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер рейса</th>
                <th>Вылет</th>
                <th>Прилет</th>
                <th>Самолет</th>
                <th>Гейт</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight[0] }}</td>
                <td>{{ flight[1] }}</td>
                <td>{{ flight[2] }}</td>
                <td>{{ flight[3] }}</td>
                <td>{{ flight[4] }}</td>
                <td>{{ flight[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>