<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пассажира</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Регистрация пассажира</h1>
    <form method="POST">
        <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br>
        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br>
        <label for="passport_number">Номер паспорта:</label>
        <input type="text" id="passport_number" name="passport_number" required>
        <br>
        <label for="gender">Пол:</label>
        <input type="text" id="gender" name="gender" required>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>